{% extends 'base.html.twig' %}
    {% block title %}
      Create
    {% endblock %}
    {% block body %}
        <h1>create pin</h1> 
            {#  comment twig#} 
            {{ form_start(form) }}
                {{ form_widget(form) }}

                <input type="submit" value="Create Pin">
            {{ form_end(form) }}
    {% endblock %}






