<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>



    </head>
    <body>
        <h1>create pin</h1> 
            {#  comment twig#} 
            {{ form_start(form) }}
                {{ form_widget(form) }}

                <input type="submit" value="Create Pin">
            {{ form_end(form) }}
            

        
    </body>
</html>