{% extends 'base.html.twig' %}
    {% block title %}
        Show pin{{ pin.getTitle() }}
    {% endblock %}
    {% block body %}
         <h1>{{ pin.getTitle() }}</h1>

        <p>{{pin.getDescription()}}</p>
            {#  path chemin relatif#} 
            {#  url chemin absolue #} 
        <a href="{{ path('app_home') }}">Back</a>
    {% endblock %}
