<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Show pin{{ pin.getTitle() }}</title>



    </head>


 <body>
       <h1>{{ pin.getTitle() }}</h1>

        <p>{{pin.getDescription()}}</p>

        
    </body>
</html>